/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/* line 3, ../sass/partials/_reset.sass */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/partials/_reset.sass */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../sass/partials/_reset.sass */
body {
  line-height: 1;
}

/* line 30, ../sass/partials/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/partials/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 36, ../sass/partials/_reset.sass */
blockquote:before,
blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 42, ../sass/partials/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    transform: rotateX(360deg) rotateY(0) rotateZ(0);
  }
}
@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    transform: rotateX(360deg) rotateY(0) rotateZ(0);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    transform: rotateX(360deg) rotateY(0) rotateZ(0);
  }
}
/* line 1, ../sass/partials/_base.sass */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_base.sass */
body {
  background: url(../images/black_linen_v2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 11, ../sass/partials/_base.sass */
header {
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.31);
}
/* line 15, ../sass/partials/_base.sass */
header #social-media-wrapper {
  position: relative;
  text-align: center;
  top: 155px;
}
/* line 19, ../sass/partials/_base.sass */
header #social-media-wrapper a {
  margin: 15px;
}
/* line 21, ../sass/partials/_base.sass */
header #social-media-wrapper a img {
  width: 100px;
  height: 100px;
}
/* line 24, ../sass/partials/_base.sass */
header #social-media-wrapper a img:hover {
  cursor: pointer;
  -webkit-animation: rotation 0.5s;
  -moz-animation: rotation 0.5s;
  animation: rotation 0.5s;
}
/* line 27, ../sass/partials/_base.sass */
header img {
  position: relative;
}
/* line 29, ../sass/partials/_base.sass */
header img[alt="Cenk Yurtbilir"] {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  border-radius: 50%;
  left: 40%;
  top: 70px;
}
/* line 36, ../sass/partials/_base.sass */
header h1 {
  color: rgba(255, 255, 255, 0.74);
  font-size: 1.7em;
  position: relative;
  text-align: center;
  top: 120px;
}
/* line 42, ../sass/partials/_base.sass */
header #properties {
  text-align: center;
}
/* line 44, ../sass/partials/_base.sass */
header #properties p {
  color: rgba(255, 255, 255, 0.74);
  position: relative;
  display: inline-block;
  font-size: 1.2em;
}
/* line 49, ../sass/partials/_base.sass */
header #properties p:nth-child(1) {
  bottom: 100px;
  right: 10%;
}
/* line 52, ../sass/partials/_base.sass */
header #properties p:nth-child(2) {
  right: 16%;
}
/* line 54, ../sass/partials/_base.sass */
header #properties p:nth-child(3) {
  bottom: 100px;
  left: 11%;
}
/* line 57, ../sass/partials/_base.sass */
header #properties p:nth-child(4) {
  left: 8%;
}

/* line 60, ../sass/partials/_base.sass */
#projects {
  margin: 90px 0px;
}
/* line 62, ../sass/partials/_base.sass */
#projects h2 {
  color: rgba(255, 255, 255, 0.74);
  text-align: center;
  font-size: 1.7em;
}
/* line 66, ../sass/partials/_base.sass */
#projects img {
  height: 320px;
  width: 100%;
  border: 1px solid #2b2b2b;
  border-radius: 3px;
  margin: 14px 0px;
  box-shadow: 7px 6px 22px 2px black;
}
/* line 73, ../sass/partials/_base.sass */
#projects .explanation {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  bottom: 337px;
  height: 320px;
}
/* line 78, ../sass/partials/_base.sass */
#projects .explanation p {
  color: rgba(255, 255, 255, 0.74);
  position: relative;
  top: 130px;
  display: inline;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
  font-size: 1.5em;
  padding: 0px 23px;
  left: 29%;
}
/* line 87, ../sass/partials/_base.sass */
#projects .explanation p:hover {
  font-size: 1.7em;
}
