@import "http://fonts.googleapis.com/css?family=Domine";
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/* line 3, ../sass/partials/_reset.sass */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, footer,
hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/partials/_reset.sass */
article, aside, details, figcaption, figure, footer,
header,
footer, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../sass/partials/_reset.sass */
body {
  line-height: 1;
}

/* line 30, ../sass/partials/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/partials/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 36, ../sass/partials/_reset.sass */
blockquote:before,
blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 42, ../sass/partials/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    transform: rotateX(360deg) rotateY(0) rotateZ(0);
  }
}
@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    transform: rotateX(360deg) rotateY(0) rotateZ(0);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    transform: rotateX(360deg) rotateY(0) rotateZ(0);
  }
}
/* line 4, ../sass/partials/_base.sass */
* {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
}

/* line 9, ../sass/partials/_base.sass */
body {
  background: url(../images/black_linen_v2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 22, ../sass/partials/_base.sass */
header, footer {
  width: 100%;
  height: 630px;
  background-color: rgba(6, 170, 243, 0.31);
  font-family: "Domine", serif;
}
/* line 27, ../sass/partials/_base.sass */
header #properties, footer #properties {
  text-align: center;
  position: relative;
  top: 120px;
}
/* line 31, ../sass/partials/_base.sass */
header #properties p, footer #properties p {
  color: rgba(255, 255, 255, 0.74);
  font-size: 1.8em;
  line-height: 2.25em;
}
/* line 35, ../sass/partials/_base.sass */
header #properties p:nth-child(1), footer #properties p:nth-child(1) {
  font-size: 2.5em;
}

/* line 38, ../sass/partials/_base.sass */
#hamburger {
  position: relative;
  top: 312px;
}
/* line 41, ../sass/partials/_base.sass */
#hamburger:hover {
  cursor: pointer;
}
/* line 43, ../sass/partials/_base.sass */
#hamburger .line {
  color: rgba(255, 255, 255, 0.74);
  border: 1px solid rgba(255, 255, 255, 0.74);
  width: 44px;
  height: 4px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.74);
  margin: 6px auto;
}

/* line 53, ../sass/partials/_base.sass */
.line1 {
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(90deg);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(90deg);
  transform: rotateX(0) rotateY(0) rotateZ(90deg);
  transition-duration: 0.2s;
  position: relative;
  top: 5px;
}

/* line 58, ../sass/partials/_base.sass */
.line2 {
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(45deg);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(45deg);
  transform: rotateX(0) rotateY(0) rotateZ(45deg);
  transition-duration: 0.2s;
  position: relative;
  left: -14px;
}

/* line 63, ../sass/partials/_base.sass */
.line3 {
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(-45deg);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(-45deg);
  transform: rotateX(0) rotateY(0) rotateZ(-45deg);
  transition-duration: 0.2s;
  position: relative;
  bottom: 10px;
  left: 14px;
}

/* line 76, ../sass/partials/_base.sass */
#social-media-wrapper {
  position: relative;
  text-align: center;
  top: 212px;
}
/* line 80, ../sass/partials/_base.sass */
#social-media-wrapper a {
  color: rgba(255, 255, 255, 0.74);
  margin: 0px 7%;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-bottom 0.5s ease;
  -moz-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease;
}
/* line 88, ../sass/partials/_base.sass */
#social-media-wrapper a:hover {
  border-bottom: 3px solid white;
}

/* line 94, ../sass/partials/_base.sass */
.row {
  margin: 35px 0px;
}

/* line 97, ../sass/partials/_base.sass */
#projects {
  font-family: "Domine", serif;
  margin-top: 65px;
}
/* line 100, ../sass/partials/_base.sass */
#projects h1 {
  text-align: center;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.74);
}
/* line 104, ../sass/partials/_base.sass */
#projects h2 {
  color: rgba(255, 255, 255, 0.74);
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 16px;
  margin-top: 35px;
}
/* line 110, ../sass/partials/_base.sass */
#projects .project {
  height: 320px;
}
/* line 112, ../sass/partials/_base.sass */
#projects .project img {
  height: 320px;
  width: 100%;
  border: 1px solid #2b2b2b;
  border-radius: 3px;
  box-shadow: 7px 6px 22px 2px black;
}
/* line 118, ../sass/partials/_base.sass */
#projects .explanation {
  color: rgba(255, 255, 255, 0.74);
}
/* line 120, ../sass/partials/_base.sass */
#projects .explanation a {
  color: rgba(255, 255, 255, 0.74);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-bottom 0.5s ease;
  -moz-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease;
  display: inline-block;
  font-weight: bold;
  margin-left: 15%;
  font-size: 1.3em;
}
/* line 129, ../sass/partials/_base.sass */
#projects .explanation a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.74);
}
/* line 131, ../sass/partials/_base.sass */
#projects .explanation p {
  line-height: 1.75em;
}
/* line 134, ../sass/partials/_base.sass */
#projects .explanation .tech h3 {
  font-size: 1.15em;
  text-decoration: underline;
  margin: 10px 0%;
}
/* line 138, ../sass/partials/_base.sass */
#projects .explanation .tech span {
  border: 1px solid rgba(255, 255, 255, 0.74);
  padding: 4px 10px;
  border-radius: 3px;
  margin: 5px 2px;
  display: inline-block;
}

/* line 145, ../sass/partials/_base.sass */
footer {
  height: 225px;
  margin-top: 100px;
}
/* line 149, ../sass/partials/_base.sass */
footer p {
  text-align: center;
  color: rgba(255, 255, 255, 0.74);
  font-size: 1.5em;
  position: relative;
  top: 83px;
  line-height: 1.7em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* line 3, ../sass/partials/_smartphone.sass */
  header, footer {
    font-size: 0.8em;
    padding: 0px 10px;
  }
  /* line 6, ../sass/partials/_smartphone.sass */
  header #properties, footer #properties {
    top: 20px;
  }
  /* line 8, ../sass/partials/_smartphone.sass */
  header #properties p:nth-child(1), footer #properties p:nth-child(1) {
    font-size: 2em;
  }
  /* line 10, ../sass/partials/_smartphone.sass */
  header #social-media-wrapper, footer #social-media-wrapper {
    top: 87px;
  }
  /* line 12, ../sass/partials/_smartphone.sass */
  header #social-media-wrapper a, footer #social-media-wrapper a {
    margin: 0px 5%;
  }
  /* line 14, ../sass/partials/_smartphone.sass */
  header #hamburger, footer #hamburger {
    top: 145px;
  }

  /* line 18, ../sass/partials/_smartphone.sass */
  #projects {
    margin: 26px 0px;
  }
  /* line 21, ../sass/partials/_smartphone.sass */
  #projects .project img {
    height: 231px;
  }

  /* line 25, ../sass/partials/_smartphone.sass */
  footer p {
    font-size: 1.3em;
    top: 63px;
  }
}
