/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/* line 3, ../sass/partials/_reset.sass */
html, body, div, span, applet, object,
iframe, h1, header #properties #developer, footer #properties #developer, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, footer,
hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/partials/_reset.sass */
article, aside, details, figcaption, figure, footer,
header,
footer, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../sass/partials/_reset.sass */
body {
  line-height: 1;
}

/* line 30, ../sass/partials/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/partials/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 36, ../sass/partials/_reset.sass */
blockquote:before,
blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 42, ../sass/partials/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    transform: rotateX(360deg) rotateY(0) rotateZ(0);
  }
}
@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    transform: rotateX(360deg) rotateY(0) rotateZ(0);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(360deg) rotateY(0) rotateZ(0);
    transform: rotateX(360deg) rotateY(0) rotateZ(0);
  }
}
/* line 1, ../sass/partials/_base.sass */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_base.sass */
body {
  background: url(../images/black_linen_v2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 11, ../sass/partials/_base.sass */
header, footer {
  width: 100%;
  height: 600px;
  background-color: rgba(6, 170, 243, 0.31);
}
/* line 15, ../sass/partials/_base.sass */
header img, footer img {
  position: relative;
}
/* line 17, ../sass/partials/_base.sass */
header img[alt="Cenk Yurtbilir"], footer img[alt="Cenk Yurtbilir"] {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  left: 39.7%;
  top: 70px;
  box-shadow: 0px 1px 22px -5px #becdd3;
}
/* line 24, ../sass/partials/_base.sass */
header #properties, footer #properties {
  text-align: center;
}
/* line 26, ../sass/partials/_base.sass */
header #properties h1, footer #properties h1, header #properties #developer, footer #properties #developer {
  color: rgba(255, 255, 255, 0.74);
  font-size: 1.9em;
  position: relative;
  text-align: center;
  top: 120px;
}
/* line 32, ../sass/partials/_base.sass */
header #properties #developer, footer #properties #developer {
  top: 145px;
}
/* line 35, ../sass/partials/_base.sass */
header #properties p, footer #properties p {
  color: rgba(255, 255, 255, 0.74);
  position: relative;
  font-size: 1.5em;
  top: 180px;
}

/* line 41, ../sass/partials/_base.sass */
#projects {
  margin: 50px 0px;
}
/* line 43, ../sass/partials/_base.sass */
#projects h1, #projects header #properties #developer, header #properties #projects #developer, #projects footer #properties #developer, footer #properties #projects #developer {
  text-align: center;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.74);
}
/* line 47, ../sass/partials/_base.sass */
#projects h2 {
  color: rgba(255, 255, 255, 0.74);
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 16px;
  margin-top: 35px;
}
/* line 53, ../sass/partials/_base.sass */
#projects .project {
  height: 320px;
}
/* line 55, ../sass/partials/_base.sass */
#projects .project img {
  height: 320px;
  width: 100%;
  border: 1px solid #2b2b2b;
  border-radius: 3px;
  box-shadow: 7px 6px 22px 2px black;
}
/* line 61, ../sass/partials/_base.sass */
#projects .project .explanation {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 324px;
  height: 320px;
  display: none;
}
/* line 67, ../sass/partials/_base.sass */
#projects .project .explanation p {
  color: white;
  position: relative;
  top: 180px;
  padding: 0px 48px;
  line-height: 1.5em;
}
/* line 73, ../sass/partials/_base.sass */
#projects .project .explanation a {
  text-decoration: none;
}
/* line 75, ../sass/partials/_base.sass */
#projects .project .explanation a p {
  color: white;
  position: relative;
  top: 130px;
  display: inline;
  width: 100%;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
  font-size: 1.5em;
  padding: 0px 23px;
  left: 29%;
}
/* line 85, ../sass/partials/_base.sass */
#projects .project .explanation a p:hover {
  font-size: 1.7em;
}

/* line 89, ../sass/partials/_base.sass */
#skills h1, #skills header #properties #developer, header #properties #skills #developer, #skills footer #properties #developer, footer #properties #skills #developer {
  text-align: center;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.74);
  margin-top: 80px;
}
/* line 95, ../sass/partials/_base.sass */
#skills #languages img {
  margin: 10px 0% 0px 12%;
}
/* line 98, ../sass/partials/_base.sass */
#skills #frameworks a {
  display: inline;
  text-decoration: none;
}
/* line 101, ../sass/partials/_base.sass */
#skills #frameworks a img {
  margin: 10px 0% 50px 12%;
}
/* line 103, ../sass/partials/_base.sass */
#skills #frameworks a span {
  font-style: italic;
  position: relative;
  color: white;
  font-size: 3.2em;
  bottom: 68px;
  margin-left: 17.7%;
}

/* line 111, ../sass/partials/_base.sass */
footer {
  height: 200px;
}
/* line 114, ../sass/partials/_base.sass */
footer #social-media-wrapper {
  position: relative;
  text-align: center;
  top: 50px;
}
/* line 118, ../sass/partials/_base.sass */
footer #social-media-wrapper a {
  margin: 15px;
}
/* line 120, ../sass/partials/_base.sass */
footer #social-media-wrapper a img {
  width: 100px;
  height: 100px;
}
/* line 123, ../sass/partials/_base.sass */
footer #social-media-wrapper a img:hover {
  cursor: pointer;
  -webkit-animation: rotation 0.5s;
  -moz-animation: rotation 0.5s;
  animation: rotation 0.5s;
}
