*
  box-sizing: border-box

body
  background: url(../images/black_linen_v2.png) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

header
  width: 100%
  height: 600px
  background-color: rgba(0, 0, 0, 0.31)
  #social-media-wrapper
    position: relative
    text-align: center
    top: 155px
    a
      margin: 15px
      img
        width: 100px
        height: 100px
        &:hover
          cursor: pointer
          +animation(rotation, 0.5s)
  img
    position: relative
    &[alt="Cenk Yurtbilir"]
      height: 250px
      width: 250px
      border: 1px solid black
      border-radius: 50%
      left: 40%
      top: 70px
  h1
    color: rgba(255, 255, 255, 0.74)
    font-size: 1.7em
    position: relative
    text-align: center
    top: 120px
  #properties
    text-align: center
    p
      color: rgba(255, 255, 255, 0.74)
      position: relative
      display: inline-block
      font-size: 1.2em
      &:nth-child(1)
        bottom: 100px
        right: 10%
      &:nth-child(2)
        right: 16%
      &:nth-child(3)
        bottom: 100px
        left: 11%
      &:nth-child(4)
        left: 8%