@media #{$laptop-window-smartphone-size}
  #projects
    margin: 215px 0px

  header 
    img[alt="Cenk Yurtbilir"]
      left: 19.7%

  footer 
    #social-media-wrapper 
      a
        margin: 0px 3% 
        img
          width: 75px
          height: 75px

@media #{$smartphone}
  header 
    img[alt="Cenk Yurtbilir"]
      left: 12.7%

  #projects
    margin: 215px 0px
    .project 
      img
        height: 231px
      .explanation
        height: 231px
        bottom: 234px
        p
          top: 37px
          padding: 0px 36px
        a
          p
            top: 19px
            left: 15%

  footer 
    #social-media-wrapper 
      a
        margin: 0px 3% 
        img
          width: 55px
          height: 55px