@media #{$smartphone}

  header 
    font-size: 0.8em
    padding: 0px 10px
    #properties
      top: 20px
    #social-media-wrapper
      top: 87px
      a
        margin: 0px 5%
    #hamburger
      top: 145px


  #projects
    margin: 26px 0px
    .project 
      img
        height: 231px

  footer
    p
      font-size: 1.3em
      top: 63px