@media #{$smartphone}
  header 
    img[alt="Cenk Yurtbilir"]
      left: 12.7%

  #projects 
    .project 
      img
        height: 231px
      .explanation
        height: 231px
        bottom: 234px
        p
          top: 37px
          padding: 0px 36px
        a
          p
            top: 19px
            left: 15%

  footer 
    #social-media-wrapper 
      a 
        img
          width: 55px
          height: 55px